.List-Div-Render{
    display: flex;
    height: 80vh;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}
.List-Div-Render-Main{
    display: flex;
    height: 85%;
    width: 50%;
    align-items: center;
    justify-content: center;
}
.List-Div{
    width: 100%;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(15px);
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 0 0 20px #000;
    overflow: hidden;
    animation: Init-Music 0.5s ease-in-out;
    transition: .5s ease-in-out;
}
.List-Div:hover{
    border: 2px solid #fff;
    box-shadow: 0 0 20px #fff;
}
.List-Div-Config-Render{
    display: flex;
    width: 25%;
    height: 60%;
    justify-content: center;
    align-items: center;
}
.List-Div-Config{
    width: 80%;
    height: 100%;
    backdrop-filter: blur(15px);
    border-radius: 20px;
    border: 2px solid black;
    box-shadow: 0 0 20px #000;
    transition: .5s;
}
.List-Div-Config:hover{
    border: 2px solid #fff;
    box-shadow: 0 0 20px #fff;
}
.List-Title{
    padding: 2px;
    display: flex;
    width: 100%;
    justify-content: center;
    border-bottom: 1px solid black;
    cursor: pointer;
}
.List-Title h2{
    text-shadow: 0 0 10px #000;
}
.List-Music{
    display: flex;
    width: 100%;
    height: 88%;
    background: transparent;
    overflow: auto;
    flex-direction: column;
    border-bottom: 1px solid black;
}

@keyframes Init-Music{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
.List-Music-Item{
    padding: 5px 10px;
    margin: 0 10px;
    border-bottom: 1px solid #000;
    cursor: pointer;
    transition: .2s ease-in-out;
}
.List-Music-Item:hover{
    background: #fff;
    color: #000;
    transform: scale(1.03);
}
.List-Music-Item p{
    text-shadow: 0 0 10px #000;
}
#select{
    background: #fff;
    color: #000;
    transform: scale(1.03);
}
