.List-Div-Config-Render{
    display: flex;
    width: 25%;
    height: 60%;
    justify-content: center;
    align-items: center;
}

.List-Div-Config{
    width: 80%;
    height: 100%;
    backdrop-filter: blur(15px);
    border-radius: 20px;
    border: 2px solid var(--Border_Color);
    box-shadow: 0 0 20px var(--Shadow_Color);
    transition: .5s;
    animation: Init-Config 0.5s ease-in-out;
}
.List-Div-Config:hover{
    border: 2px solid #fff;
    box-shadow: 0 0 20px #fff;
}
.Checkbox-div{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}
.Checkbox-div label{
    text-shadow: 0 0 5px #000;
}
.Checkbox-div input[type="checkbox"]{
    cursor: pointer;
    margin-right: 10px;
    accent-color: #fff;
    transform: translateY(2px);
    outline: none;
}
.List-Div-Config-Button{
    width: 80%;
    height: 100%;
}
.List-Div-Config-Button h2{
    cursor: pointer;
}
.Checkbox-div-Color{
    margin-right: 6px;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
@keyframes Init-Config{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}