.List-Div-Config-Render{
    display: flex;
    width: 25%;
    height: 60%;
    justify-content: center;
    align-items: center;
}

.List-Div-Config{
    width: 80%;
    height: 100%;
    backdrop-filter: blur(var(--Blur_Px));
    border-radius: var(--Border_Radio_Px_Primary);
    border: 2px solid var(--Border_Color);
    box-shadow: 0 0 var(--Shadow_Px) var(--Shadow_Color);
    transition: .5s;
    animation: Init-Config 0.5s ease-in-out;
    overflow: hidden;
}
.List-Div-Config:hover{
    border: 2px solid #fff;
    box-shadow: 0 0 20px #fff;
}
.List-Config-Render{
    height: 84%;
    overflow-y: auto;
    border-bottom: 1px solid var(--Border_Color);
}

.List-Config-Render::-webkit-scrollbar{
    width: 8px;
    background: transparent;
}
.List-Config-Render::-webkit-scrollbar-thumb{
    background: var(--Text_Color);
    border-radius: 10px;
}
.List-Config-Render::-webkit-scrollbar-track{
    background: transparent;
}

.Checkbox-div{
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
}
.Checkbox-div label{
    text-shadow: 0 0 5px #000;
}
.Checkbox-div input[type="checkbox"]{
    cursor: pointer;
    margin-right: 10px;
    accent-color: #fff;
    transform: translateY(2px);
    outline: none;
}
.List-Div-Config-Button{
    display: flex;
    width: 80%;
    height: 100%;
    align-items: flex-start;
}
.List-Div-Config-Button h2{
    cursor: pointer;
}
.Checkbox-div-Color{
    margin-right: 6px;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
@keyframes Init-Config{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}

.List-Div-Config::-webkit-scrollbar{
    width: 10px;
    background: transparent;
}
.List-Div-Config::-webkit-scrollbar-thumb{
    background: var(--Text_Color);
    border-radius: 10px;
}
.List-Div-Config::-webkit-scrollbar-track{
    background: transparent;
}

.List-Config-Button{
    margin-top: 2px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.List-Config-Button button{
    padding: 3px 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: var(--Background_Color);
    color: var(--Text_Color);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: .3s;
}
.List-Config-Button button:hover{
    transform: scale(1.03);
}
.Config-Ranger{
    padding: 10px 15px 10px 10px;
}
.Config-Ranger div{
    display: flex;
    justify-content: space-between;
}
.Config-Ranger input[type="range"]{
    margin-top: 14px;
    width: 100%;
    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;
    -webkit-appearance: none;
    height: 6px;
    border-radius: 5px;
}

.Config-Ranger input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none; 

  height: 15px;
  width: 15px;
  background-color: var(--Text_Color);
  border-radius: 50%;
  border: none;

  transition: .2s ease-in-out;
}

.Config-Ranger input[type="range"]::-webkit-slider-thumb:hover {
  box-shadow: 0 0 0 5px var(--Shadow_Color)
}

.Config-Ranger input[type="range"]:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 7px var(--Shadow_Color)
}
/*
.Config-Ranger input[type="range"]:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 7px var(--Shadow_Color)
}
*/