.Made-Bar{
    display: flex;
    cursor: pointer;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translateY(-20px);
}
.Made-Bar-Img{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.Made-Bar div img{
    width: 40px;
    height: 40px;
    transition: .5s;
}
.Made-Bar:hover img{
    transform: scale(1.1);
}
.Made-Bar-P{
    display: flex;
}
.Made-Bar p{
    text-shadow: 0 0 5px #000;
}