.List-Div-video-Render{
    display: flex;
    height: 85%;
    width: 25%;
    align-items: center;
    justify-content: center;
}

.List-Div-video{
    width: 90%;
    height: 95%;
    backdrop-filter: blur(15px);
    border-radius: 20px;
    border: 2px solid var(--Border_Color);
    box-shadow: 0 0 20px var(--Shadow_Color);
    transition: .5s;
    animation: Init-Video 0.5s ease-in-out;
    overflow: hidden;
}
.List-Div-video:hover{
    border: 2px solid #fff;
    box-shadow: 0 0 20px #fff;
}
@keyframes Init-Video{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0%);
    }
}

.List-Div-Video-Render{
    height: 90%;
    width: 100%;
    overflow: auto;
}

.List-Div-Video-Render::-webkit-scrollbar{
    width: 8px;
    background: transparent;
}
.List-Div-Video-Render::-webkit-scrollbar-thumb{
    background: var(--Text_Color);
    border-radius: 10px;
}
.List-Div-Video-Render::-webkit-scrollbar-track{
    background: transparent;
}