.Filter-Div-Render{
    display: flex;
    padding: 8px 8px 8px 8px;
    width: 100%;
    justify-content: center;
}
.Filter-Div-Render div{
    width: 50%;
    border-radius: 10px;
    backdrop-filter: blur(var(--Blur_Px));
    border: 2px solid var(--Border_Color);
    box-shadow: 0 0 20px var(--Shadow_Color);
    transition: .5s ease-in-out;
    animation: Init-filter 0.5s ease-in-out;
}
.Filter-Div-Render div:hover{
    border: 2px solid #fff;
    box-shadow: 0 0 20px #fff;
}
.Filter-Div-Render div input::placeholder{
    color: var(--Text_Color);
    font-size: 15px;
    font-weight: bold;
    text-shadow: 0 0 1px #000;
}
.Filter-Div-Render div input:focus{
    border: none;
    outline: none;
}
.Filter-Div-Render div input{
    color: var(--Text_Color);
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    padding: 10px 10px 10px 10px;
    font-size: 15px;
    font-weight: bold;
    outline: none;
    text-shadow: 0 0 1px #000;
}

@keyframes Init-filter {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0%);
    }
}