.BarTopMain-Reder{
    cursor: pointer;
    display: flex;
    padding: 10px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.BarTopMain-Reder h2{
    text-shadow: 0 0 5px #000;
}