.Control-Render-Div{
    display: flex;
    width: 100%;
    padding: 2px;
    justify-content: center;
}
.Control-Div{
    display: flex;
    padding: 5px;
    width: 50%;
    backdrop-filter: blur(20px);
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 0 20px #000;
    justify-content: space-between;
    align-items: center;
    transition: .5s ease-in-out;
}
.Control-Div:hover{
    border: 2px solid #fff;
    box-shadow: 0 0 20px #fff;
}
.Control-Button{
    margin: 5px;
    width: 40px;
    height: 40px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Control-Button img{
    cursor: pointer;
    height: 25px;
    transform: translateX(2.5px);
}
#Play{
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px #000;
    cursor: pointer;
    transition: .5s;
}
#Play:hover{
    box-shadow: 0 0 10px #fff;
}
.Control-Button-Main{
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
}
.duration{
    display: flex;
    padding-left: 10px;
    width: 35%;
}
.volumn{
    display: flex;
    width: 35%;
    justify-content: center;
    align-items: center;
}
.volumn input{
    width: 80%;
    height: 5px;
    cursor: pointer;
    background: #000;
    border-radius: 5px;
    outline: none;
    transition: .5s;
    accent-color: #fff;
    box-shadow: 0 0 10px #000;
}
.volumn input:hover{
    box-shadow: 0 0 10px #fff;
}