.BarBottonMain-Render{
    display: flex;
    height: 94vh;
    width: 100%;
    align-items: end;
}
.BarBottonMain-Bar{
    padding: 40px 100px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.BarBottonMain-Bar-Vercion{
    width: 30%;
}
.BarBottonMain-Bar-button{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.BarBottonMain-Bar-Logo{
    width: 30%;
    display: flex;
    justify-content: right;
}
.BarBottonMain-Bar h2 {
    text-shadow: 0 0 5px #000;
}
.BarBottonMain-Bar button{
    cursor: pointer;
    padding: 8px 12px 8px 12px;
    border: none;
    background-color: var(--Background_Color);
    color: var(--Text_Color);
    border-radius: 10px;
    animation: BarBottonMain-Render-Animation 2s ease-in-out infinite alternate;
    transition: .5s;
}
.BarBottonMain-Bar button:hover{
    background-color: #fff;
    color: #000;
}

@keyframes BarBottonMain-Render-Animation{
    0%{
        transform: translateY(0%);
    }
    100%{
        transform: translateY(-100%);
    }
}
    