@font-face {
    font-family: 'Roboto';
    src: url('./assets/RobotoSlab-VariableFont_wght.ttf') format('truetype');
}

:root{
    --Text_Color: #fff;
    --Border_Color: #000;
    --Shadow_Color: #000000;
    --Blur_Px: 15px;
    --Shadow_Px: 20px;
    --Border_Radio_Px_Primary: 20px;
    --Background_Color: #198eee;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    user-select: none;
}

body{
    color: var(--Text_Color);
    background-color: black;
    background-image: url('./assets/Backgrund.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}